################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SingletonTheory.Product.Web/obj/Debug
*.user
*.suo
